@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
    
    --font-family: 'Poppins', sans-serif;
    --font-size: 1rem;
    --primary: #007df9;
    --font-weight: 500;
    --line-height: 1.5;
    --text-color: #151a25;
    --bg-color: #ebecec;
    --fit-height: -webkit-fill-available;
    --scrollbar-radius: .625rem;
    --size-5: 1.25rem;
}
body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--bg-color);
    /* @apply p-8; */
}
/* .navbar{
    @apply flex justify-between bg-white py-4 px-5 rounded-full items-center;
} */
.navitems{
    /* @apply flex gap-4 font-bold; */
    transition: opacity 0.5s ease-in;
}
.navitems.show {
    display: flex;
    opacity: 1;
    /* @apply flex opacity-100; */
}
/* .primarybtn{
    @apply rounded-full py-3 px-4 text-white bg-primary font-bold;
} */
/* .lightbtn{
    @apply bg-white rounded-full border  border-invert-secondary py-3 px-4 font-bold;
} */
/* #landing{
    @apply xl:grid xl:grid-cols-12 md:grid-cols-1 gap-14;
} */
/* .grid-content{
    @apply flex overflow-x-auto  gap-4;
} */
.card{
    /* @apply bg-white rounded-xl p-5; */
    min-width: 18.75rem;
}
.navbtn{
    display: none;
    /* @apply hidden; */
}
/* .video-container{
    iframe{
        @apply rounded-2xl;
    }
} */
/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
    height: .5rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--bg-color); 
    border-radius: var(--scrollbar-radius);
    margin-bottom: var(--size-5);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: var(--scrollbar-radius);
    margin-bottom: var(--size-5);
    border: 2px solid var(--bg-color);
}

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: #4a5568 var(--bg-color); 
    margin-bottom: var(--size-5);
}
@media (max-width: 768px) {
    .navitems{
        position: absolute;
        flex-direction: column;
        background: #fff;
        top: 8rem;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        margin: 0 2rem;
        padding: var(--size-5);
        border-radius: var(--size-5);
        /* @apply fixed flex-col bg-white top-32 p-5 rounded-2xl text-center mx-8 right-0 left-0 opacity-0; */
    }
    nav ul li {
        display: block;
        /* @apply block; */
    }
    nav ul li a{
        transition: color 0.3s ease-in;
        font-size: var(--size-5);
        /* @apply text-lg ; */
    }
    .navbtn{
        display: block;
        /* @apply block; */
    }
    .video-container{
        iframe{
            width: var(--fit-height);
        }
    }
}